<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

  
<dict>  
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>http://218.65.236.14:8090/ehrmobile/QJHCM.ipa</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>full-size-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <string>http://218.65.236.14:8090/ehrmobile/icon.png</string>
    </dict>
    <dict>
     <key>kind</key>
     <string>display-image</string>
     <key>needs-shine</key>
     <true/>
     <key>url</key>
     <string>http://218.65.236.14:8090/ehrmobile/icon.png</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    
    <string>com.hx.qjhcm</string>
    <key>bundle-version</key>
   
    <string>2.1.0</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <string>QJHCM App</string>
     
     <key>NSLocationUsageDescription</key> 
     <string>App需要您的同意,才能访问位置</string> 
     <key>NSLocationWhenInUseUsageDescription</key> 
     <string>App需要您的同意,才能在使用期间访问位置</string> 
   </dict>
  </dict>
 </array>
</dict>
</plist>
